<div class="text-center">
  <div class="my-5">
    <h1><img src="https://firebasestorage.googleapis.com/v0/b/covid19-ff0fd.appspot.com/o/Covid19_for_title.png?alt=media&token=0b3b8b22-88f2-4d8b-acbb-9e84e525eaa8" class="img-fluid" heigth="60" width="60" />COVID-19</h1>
    <h3 class="text-secondary">Live Updates and Statistics</h3>
    <div class="card text-white bg-dark mx-auto w-50">
      <div class="card-body">
        <a href="">Worldwide</a> > {{name}}
      </div>
    </div>
  </div>
</div>
