<div class="text-center">
  <div class="my-5">
    <h1><img src="https://firebasestorage.googleapis.com/v0/b/covid19-ff0fd.appspot.com/o/Covid19_for_title.png?alt=media&token=0b3b8b22-88f2-4d8b-acbb-9e84e525eaa8" class="img-fluid" heigth="60" width="60" />COVID-19</h1>
    <h3 class="text-secondary">Live Updates and Statistics</h3>
    <div class="card text-white bg-dark mx-auto w-50">
      <div class="card-body">
        <a href="">Worldwide</a> > {{name}}
      </div>
    </div>
  </div>
</div>

<div class="mb-5 mx-auto w-50">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Corona Virus Summary in {{name}}</h5>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr class="table-warning">
        <th>Total Cases</th>
        <th>{{dataFromAPI["TotalConfirmed"]}}</th>
      </tr>
      <tr class="table-warning">
        <th>New Cases</th>
        <th>{{dataFromAPI["NewConfirmed"]}}</th>
      </tr>
      <tr class="table-warning">
        <th>Active Cases</th>
        <th>{{dataFromAPI["TotalConfirmed"]-(dataFromAPI["TotalRecovered"]+dataFromAPI["TotalDeaths"])}}</th>
      </tr>
      <tr class="table-primary">
        <th>Total Recovered</th>
        <th>{{dataFromAPI["TotalRecovered"]}}</th>
      </tr>
      <tr class="table-primary">
        <th>New Recovered</th>
        <th>{{dataFromAPI["NewRecovered"]}}</th>
      </tr>
      <tr class="table-primary">
        <th>Recovery Rate</th>
        <th>{{(dataFromAPI["TotalRecovered"]/dataFromAPI["TotalConfirmed"]*100).toFixed(2)}}%</th>
      </tr>
      <tr class="table-danger">
        <th>Total Deaths</th>
        <th>{{dataFromAPI["TotalDeaths"]}}</th>
      </tr>
      <tr class="table-danger">
        <th>New Deaths</th>
        <th>{{dataFromAPI["NewDeaths"]}}</th>
      </tr>
      <tr class="table-danger">
        <th>Mortality Rate</th>
        <th>{{(dataFromAPI["TotalDeaths"]/dataFromAPI["TotalConfirmed"]*100).toFixed(2)}}%</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="chart mx-auto w-50 mb-5">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Corona Virus Cases Distribution in {{name}}</h5>
    </div>
  </div>
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType">
  </canvas>
</div>

<div>
  <div class="chart mx-auto w-50 mb-5">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Daily Corona Virus Cases in {{name}}</h5>
      </div>
    </div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>

<div class="mx-auto w-50 mb-5">
  <div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Daily Corona Virus Cases in {{name}}</h5>
      </div>
    </div>
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [chartType]="lineChartType"></canvas>
    </div>
  </div>
</div>
