<div class="card text-white bg-dark mx-auto w-50 text-center mb-5">
  <div class="card-body">
    <a href="">Go back to the world summary</a>
  </div>
</div>

<h4 class="mx-auto w-50 mb-5">Add a news</h4>
<form (ngSubmit)="addNews()" class="mx-auto w-50 mb-5">
  <div class="row mb-3">
    <div class="col-12">
      <label for="newsInputId">New news:</label>
      <input type="text" id="newsInputId" name="newsInputName" class="form-control" placeholder="Enter your news here" [(ngModel)]="newsFromForm" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div>
        <label for="countryInputId" class="mx-auto">Which country:</label>
      </div>
      <select name="countryInputName" id="countryInputId" [(ngModel)]="countryFromForm">
        <optgroup label="Global news">
          <option value="world">World</option>
        </optgroup>
        <optgroup label="News per country">
          <option *ngFor="let country of countries" value={{country.Slug}}>{{country.Country}}</option>
        </optgroup>
      </select>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary">Add</button>
  </div>
</form>
<div class="my-3 w-75 mx-auto" *ngIf="globalNews.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="text-center">
        <th>Country</th>
        <th>News</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let newsToDisplay of globalNews">
        <td>{{newsToDisplay.country}}</td>
        <td>{{newsToDisplay.news}}</td>
        <td>{{newsToDisplay.date.toDate() | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
