<div class="mb-5 mx-auto w-50">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Corona Virus Summary Worldwide</h5>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr class="table-warning">
        <th>Total Cases</th>
        <th>{{dataFromAPI["TotalConfirmed"]}}</th>
      </tr>
      <tr class="table-warning">
        <th>New Cases</th>
        <th>{{dataFromAPI["NewConfirmed"]}}</th>
      </tr>
      <tr class="table-warning">
        <th>Active Cases</th>
        <th>{{dataFromAPI["TotalConfirmed"]-(dataFromAPI["TotalRecovered"]+dataFromAPI["TotalDeaths"])}}</th>
      </tr>
      <tr class="table-primary">
        <th>Total Recovered</th>
        <th>{{dataFromAPI["TotalRecovered"]}}</th>
      </tr>
      <tr class="table-primary">
        <th>New Recovered</th>
        <th>{{dataFromAPI["NewRecovered"]}}</th>
      </tr>
      <tr class="table-primary">
        <th>Recovery Rate</th>
        <th>{{(dataFromAPI["TotalRecovered"]/dataFromAPI["TotalConfirmed"]*100).toFixed(2)}}%</th>
      </tr>
      <tr class="table-danger">
        <th>Total Deaths</th>
        <th>{{dataFromAPI["TotalDeaths"]}}</th>
      </tr>
      <tr class="table-danger">
        <th>New Deaths</th>
        <th>{{dataFromAPI["NewDeaths"]}}</th>
      </tr>
      <tr class="table-danger">
        <th>Mortality Rate</th>
        <th>{{(dataFromAPI["TotalDeaths"]/dataFromAPI["TotalConfirmed"]*100).toFixed(2)}}%</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="chart mx-auto w-50 mb-5">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Corona Virus Cases Distribution Worldwide</h5>
    </div>
  </div>
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType">
  </canvas>
</div>

<div>
  <div class="chart mx-auto w-50 mb-5">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Daily Corona Virus Cases Worldwide</h5>
      </div>
    </div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>

<div class="mx-auto w-50 mb-5">
  <div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Daily Corona Virus Cases Worldwide</h5>
      </div>
    </div>
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [chartType]="lineChartType"></canvas>
    </div>
  </div>
</div>

<div class="mx-auto w-50 mb-5">
  <div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">CoronaNews Worldwide</h5>
      </div>
    </div>
    <div class="text-center">
      <a href="/signin">Add some news here!</a>
    </div>
  </div>
</div>

<div class="mb-5 mx-auto w-50">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Corona Virus Cases Per Country</h5>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="mat-sort-header">
      <tr>
        <th class="text-center table-secondary">Country</th>
        <th class="text-center table-warning">New Cases</th>
        <th class="text-center table-warning">Total Cases</th>
        <th class="text-center table-primary">New Recoveries</th>
        <th class="text-center table-primary">Total Recoveries</th>
        <th class="text-center table-danger">New Deaths</th>
        <th class="text-center table-danger">Total Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of dataCountryFromAPI">
        <th class="table-secondary"><a [routerLink]="['/country', country['Slug']]">{{country["Country"]}}</a></th>
        <th class="table-warning">{{country["NewConfirmed"]}}</th>
        <th class="table-warning">{{country["TotalConfirmed"]}}</th>
        <th class="table-primary">{{country["NewRecovered"]}}</th>
        <th class="table-primary">{{country["TotalRecovered"]}}</th>
        <th class="table-danger">{{country["NewDeaths"]}}</th>
        <th class="table-danger">{{country["TotalDeaths"]}}</th>
      </tr>
    </tbody>
  </table>
</div>
