<div class="text-center">
  <div class="my-5">
    <h1 ><img src="https://firebasestorage.googleapis.com/v0/b/covid19-ff0fd.appspot.com/o/Covid19_for_title.png?alt=media&token=0b3b8b22-88f2-4d8b-acbb-9e84e525eaa8" class="img-fluid" heigth="60" width="60"/>COVID-19</h1>
    <h3 class="text-secondary">Live Updates and Statistics</h3>

  </div>
</div>

<div class="mb-5 mx-auto w-50">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="2" class="text-center">Corona Virus Summary Worldwide</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-warning">
        <th>Total Cases</th>
        <th></th>
      </tr>
      <tr class="table-warning">
        <th>New Cases</th>
        <th></th>
      </tr>
      <tr class="table-warning">
        <th>Active Cases</th>
        <th></th>
      </tr>
      <tr class="table-primary">
        <th>Total Recovered</th>
        <th></th>
      </tr>
      <tr class="table-primary">
        <th>New Recovered</th>
        <th></th>
      </tr>
      <tr class="table-primary">
        <th>Recovery Rate</th>
        <th></th>
      </tr>
      <tr class="table-danger">
        <th>Total Deaths</th>
        <th></th>
      </tr>
      <tr class="table-danger">
        <th>New Deaths</th>
        <th></th>
      </tr>
      <tr class="table-danger">
        <th>Mortality Rate</th>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>
