<div class="text-center">
  <div class="my-5">
    <h1><img src="https://firebasestorage.googleapis.com/v0/b/covid19-ff0fd.appspot.com/o/Covid19_for_title.png?alt=media&token=0b3b8b22-88f2-4d8b-acbb-9e84e525eaa8" class="img-fluid" heigth="60" width="60" />COVID-19</h1>
    <h3 class="text-secondary">Live Updates and Statistics</h3>

  </div>
</div>

<div class="mb-5 mx-auto w-50">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Corona Virus Summary Worldwide</h5>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr class="table-warning">
        <th>Total Cases</th>
        <th>{{dataFromAPI.Global["TotalConfirmed"]}}</th>
      </tr>
      <tr class="table-warning">
        <th>New Cases</th>
        <th>{{dataFromAPI.Global["NewConfirmed"]}}</th>
      </tr>
      <tr class="table-warning">
        <th>Active Cases</th>
        <th>{{dataFromAPI.Global["TotalConfirmed"]-(dataFromAPI.Global["TotalRecovered"]+dataFromAPI.Global["TotalDeaths"])}}</th>
      </tr>
      <tr class="table-primary">
        <th>Total Recovered</th>
        <th>{{dataFromAPI.Global["TotalRecovered"]}}</th>
      </tr>
      <tr class="table-primary">
        <th>New Recovered</th>
        <th>{{dataFromAPI.Global["NewRecovered"]}}</th>
      </tr>
      <tr class="table-primary">
        <th>Recovery Rate</th>
        <th>{{(dataFromAPI.Global["TotalRecovered"]/dataFromAPI.Global["TotalConfirmed"]*100).toFixed(2)}}%</th>
      </tr>
      <tr class="table-danger">
        <th>Total Deaths</th>
        <th>{{dataFromAPI.Global["TotalDeaths"]}}</th>
      </tr>
      <tr class="table-danger">
        <th>New Deaths</th>
        <th>{{dataFromAPI.Global["NewDeaths"]}}</th>
      </tr>
      <tr class="table-danger">
        <th>Mortality Rate</th>
        <th>{{(dataFromAPI.Global["TotalDeaths"]/dataFromAPI.Global["TotalConfirmed"]*100).toFixed(2)}}%</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="chart mx-auto w-50 mb-5">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Corona Virus Cases Distribution Worldwide</h5>
    </div>
  </div>
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType">
  </canvas>
</div>

<div>
  <div class="chart mx-auto w-50 mb-5">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Daily Corona Virus Cases Worldwide</h5>
      </div>
    </div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>

<div class="mx-auto w-50 mb-5">
  <div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Daily Corona Virus Cases Worldwide</h5>
      </div>
    </div>
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [chartType]="lineChartType"></canvas>
    </div>
  </div>
</div>

<div class="mb-5 mx-auto w-50">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Corona Virus Cases Per Country</h5>
    </div>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="mat-sort-header">
      <tr>
        <th class="text-center table-secondary">Country</th>
        <th class="text-center table-warning">New Cases</th>
        <th class="text-center table-warning">Total Cases</th>
        <th class="text-center table-primary">New Recoveries</th>
        <th class="text-center table-primary">Total Recoveries</th>
        <th class="text-center table-danger">New Deaths</th>
        <th class="text-center table-danger">Total Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of dataFromAPI.Countries">
        <th class="table-secondary"><a [routerLink]="['/country', country['Slug']]">{{country["Country"]}}</a></th>
        <th class="table-warning">{{country["NewConfirmed"]}}</th>
        <th class="table-warning">{{country["TotalConfirmed"]}}</th>
        <th class="table-primary">{{country["NewRecovered"]}}</th>
        <th class="table-primary">{{country["TotalRecovered"]}}</th>
        <th class="table-danger">{{country["NewDeaths"]}}</th>
        <th class="table-danger">{{country["TotalDeaths"]}}</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="card text-center w-50 mx-auto mb-1">
  <div class="card-body">
    <h5 class="card-title">Data Source: <a href="https://covid19api.com/">COVID-19 API/Johns Hopkins CSSE</a></h5>
  </div>
</div>
